<mat-card class="card">
  <mat-card-title-group>
    <mat-card-title>
      <p>Request ID: {{ request?.id }}</p>
    </mat-card-title>

    <mat-card-subtitle>
      <p> {{ request?.time_stamp }}</p>
    </mat-card-subtitle>

    <div *ngIf="adminRequestCard; else showUserRequestStatus">
      <button class="mat-btn" (click)="approveRequest()">Approve</button>
      <button class="mat-btn" (click)="declineRequest()">Decline</button>
    </div>

    <ng-template #showUserRequestStatus>
      <p id="statusDiv" [classList]="request?.status">{{ request?.status }}</p>
    </ng-template>

  </mat-card-title-group>

  <mat-card-content>
    <p *ngIf="adminRequestCard else elseBlock">
      <span class="card-content-name">{{ request?.username }}</span> has requested to join <span
        class="card-content-name">{{request.new_team_name}}</span> team
    </p>
    <ng-template #elseBlock>
      You have requested to join <span class="card-content-name">{{request.new_team_name}}</span> team
    </ng-template>
  </mat-card-content>
</mat-card>