.card {
  width: 100%;
}

.mat-btn {
  font-size: 18px;
  height: 40px;
  background-color: rgb(252, 182, 196);
  border-radius: 3px;
  margin: 0 1em;
}

.mat-btn:disabled {
  background-color: rgb(228, 224, 224);
  cursor: not-allowed;
}

.mat-btn:enabled:hover {
  cursor: pointer;
  border: none;
}

#statusDiv {
  text-align: center;
  width: 100px;
  height: 2em;
  font-size: 18px;
}

.card-content-name {
  color: red;
}

.PENDING {
  color: rgb(209, 209, 28);
}

.APPROVED {
  color: green;
}

.DECLINED {
  color: red;
}
