<mat-card class="card">
  <mat-card-title-group>
    <mat-card-title>
      <p>Request ID: {{ request?.requestID }}</p>
    </mat-card-title>

    <mat-card-subtitle *ngIf="adminRequestCard">
      <p>User ID: {{ request?.userID }}</p>
    </mat-card-subtitle>

    <div *ngIf="adminRequestCard; else showUserRequestStatus">
      <button class="mat-btn" (click)="approveRequest()">Approve</button>
      <button class="mat-btn" (click)="declineRequest()">Decline</button>
    </div>

    <ng-template #showUserRequestStatus>
      <p id="statusDiv" [classList]="request?.status">{{ request?.status }}</p>
    </ng-template>

  </mat-card-title-group>

  <mat-card-content>
    <p *ngIf="request.currentTeamID==0 else elseBlock">
      Request to join the team: {{request.newTeamID}}
    </p>
    <ng-template #elseBlock>
      Request to change the team from: {{request.currentTeamID}} to :{{request.newTeamID}}
    </ng-template>
  </mat-card-content>
</mat-card>