.events-container {
  padding: 0 1em;
}

.no-events-message {
  text-align: center;
}

.event-title {
  text-align: center;
}

.event-cards {
  height: max-content;
  max-height: 210px;
  overflow-y: scroll;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(auto-fill, 500px);
}

.invite-btn {
  float: right;
}

.invite-btn:hover {
  cursor: pointer;
  color: white;
  background-color: black;
  border-color: black;
}

@media (min-width: 1250px) and (max-width: 1390px) {
  .cards {
    grid-template-columns: repeat(auto-fill, 400px);
  }
}
