<div class='auth-form'>
    <form [formGroup]="userData" (ngSubmit)="submit()" ngNativeValidate>
        <input type='text' placeholder="Username" formControlName="username" name="userName" minlength="3" required />
        <br><br>

        <input type="text" placeholder="First Name" formControlName="firstName" name="firstname" minlength="3"
            required />
        <br><br>

        <input type="text" placeholder="Last Name" formControlName="lastName" name="lastname" minlength="1" required />
        <br><br>

        <input type="email" placeholder="Email" formControlName="email" name="email" required
            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
        <br><br>

        <input type='password' placeholder="Password" formControlName="password" name="password" minlength="3"
            required />
        <br><br>

        <button color="primary" type="submit">Submit</button>
        <br>
    </form>
</div>