<div *ngIf='loading; else welcome' class="spinner">
    <mat-spinner></mat-spinner>
</div>
<ng-template #welcome>

    <!-- Welcome container consisting of welcome description and login signup forms -->
    <div class="welcome-container">
        <!-- Left side layout -->

        <div class="app-details">
            <h1 id="welcome-title">Welcome to JustnOrg</h1>
            <p id="desc">This application notifies you of all the Birthdays and Job Anniversaries of other
                employees in your team.
                It also allows you to send wishes to the employees whose Birthday or Job Anniversaries are next week.
            </p>
        </div>

        <!-- Login and signup tabs -->
        <!-- Login and Signup components are in different folders inside welcome folder -->
        <div class="login-signup">
            <mat-tab-group mat-stretch-tabs>
                <!-- #region signin -->
                <mat-tab label="Sign In" id="signin">
                    <ng-template matTabContent>
                        <app-login></app-login>
                    </ng-template>
                </mat-tab>
                <!-- #endregion -->

                <!-- #region signup -->
                <mat-tab label="Sign Up" id="signup">
                    <ng-template matTabContent>
                        <app-signup></app-signup>
                    </ng-template>>
                </mat-tab>
                <!-- #endregion -->
            </mat-tab-group>
        </div>
    </div>

</ng-template>