#welcome-title {
  text-align: center;
  margin: 1em 0;
}

.login-signup {
  margin: auto;
  width: 30%;
  border: 2px solid rgb(38, 38, 139);
  height: 60vh;
}

.login-signup .mat-tab-labels {
  text-align: center;
}
