<div>
    <h1 id="welcome-title">Welcome to JustnOrg!</h1>

    <div class="login-signup">
        <mat-tab-group mat-stretch-tabs>
            <mat-tab label="Sign In" id="login">
                <div>
                    <app-login></app-login>
                </div>
            </mat-tab>
            <mat-tab label="Sign Up" id="signup">
                <div>
                    <app-signup></app-signup>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>

</div>