.welcome-container {
  background-image: url("../../../assets/images/bday3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.app-details {
  width: 30%;
}

#welcome-title {
  font-weight: bold;
}

.login-signup {
  width: 30%;
  height: 60%;
  background-color: rgb(250, 235, 211);
  border-radius: 3px;
}
