#dashboard-title {
  padding-top: 10px;
  font-size: 20px;
  text-align: center;
}

.container {
  border: 1px solid coral;
  height: 83vh;
}

/*  ========= Side Nav Styles ========== */
.side-nav-container {
  height: 100%;
  width: 100%;
}

.sidenav {
  width: 20%;
}

.sidenav .mat-list {
  padding: 0;
}

.sidenav-title {
  margin: 0;
  padding: 8px 0;
  font-size: 18px;
  background-color: rgb(250, 192, 183);
}

.sidenav-title .mat-icon {
  font-size: 22px;
}
