<app-header></app-header>

<p id="dashboard-title">&nbsp; {{title}}</p>

<div *ngIf='loading else show'>
    <mat-spinner class="spinner"></mat-spinner>
</div>

<ng-template #show>

    <div class="container">
        <!-- #region side nav container-->
        <mat-sidenav-container class="side-nav-container">
            <!-- #region side nav options -->
            <mat-sidenav mode="side" opened class="sidenav">
                <mat-action-list>
                    <!-- #region Team related notifications -->
                    <!-- show notifications and team options only when user is in a team -->
                    <div *ngIf="inTeam">

                        <p class="sidenav-title">&nbsp; Notifications <mat-icon>notifications_active</mat-icon>
                        </p>
                        <mat-divider></mat-divider>

                        <button mat-list-item (click)="index = 0"> Birthdays
                            ({{eventCounts.get('bdayEvents')}})
                        </button>

                        <button mat-list-item (click)="index = 1"> Job Anniversaries
                            ({{eventCounts.get('anniversaryEvents')}})
                        </button>

                        <div *ngIf="admin">
                            <button mat-list-item (click)="index = 2"> Requests </button>
                        </div>

                        <mat-divider></mat-divider>

                        <p class="sidenav-title">&nbsp; {{teamDetails.teamname}} Team</p>
                        <mat-divider></mat-divider>

                        <button mat-list-item (click)="index = 3"> Team Details </button>
                        <button mat-list-item (click)="openDialog()"> Team Settings </button>
                    </div>
                    <!-- #endregion -->

                    <p class="sidenav-title">&nbsp; Your Account</p>
                    <mat-divider></mat-divider>

                    <button mat-list-item (click)="index = 4"> Sent Requests </button>
                </mat-action-list>
            </mat-sidenav>
            <!-- #endregion -->
            <!-- #region nav tab components -->
            <mat-sidenav-content class="sidenav-content">
                <!-- keeping track of changed index when selecting side nav options -->
                <app-notification-tab [(index)]=index (eventsLengthRetrieved)='setCount($event)'
                    [teamDetail]='teamDetails'>
                </app-notification-tab>
            </mat-sidenav-content>
            <!-- #endregion -->
        </mat-sidenav-container>
        <!-- #endregion -->
    </div>

</ng-template>