#dashboard-title {
  padding-top: 10px;
  font-size: 20px;
  text-align: center;
}

.container {
  border: 1px solid purple;
  height: 80vh;
}

/*  ========= Side Nav Styles ========== */
.side-nav-container {
  height: 100%;
}

.sidenav {
  width: 20%;
}

.sidenav-title {
  margin: 0;
  padding: 8px 0;
  font-size: 18px;
  background-color: rgb(250, 170, 170);
}

.sidenav-content {
  width: 70%;
}
