<div *ngIf='loading else showEvents'>
  <mat-spinner class="spinner"></mat-spinner>
</div>

<ng-template #showEvents>
  <div class="events-container">
    <br>
    <div *ngIf="index==0; else tab2">
      <div *ngIf='birthdays.length==0 else showBirthdays'>
        <h1 class="no-event-message"> No events to show </h1>
      </div>

      <!-- #region birthday events cards -->
      <ng-template #showBirthdays>
        <div class="event-cards">
          <div *ngFor="let birthday of birthdays" class="team-birthdays">
            <div>
              <app-event-card [notification]=birthday [birthday]='true'></app-event-card>
            </div>
            <br>
          </div>
        </div>
      </ng-template>
      <!-- #endregion -->
    </div>
  </div>
</ng-template>


<ng-template #tab2>
  <div *ngIf='anniversaries.length==0 else showAnniversaries'>
    <h1 class="no-event-message"> No events to show </h1>
  </div>

  <!-- #region anniversary events card -->
  <ng-template #showAnniversaries>
    <div class="event-cards">
      <div *ngFor="let anniversary of anniversaries" class="team-anniversaries">
        <div>
          <app-event-card [notification]=anniversary [anniversary]='true'></app-event-card>
        </div>
        <br>
      </div>
      <br>
    </div>
  </ng-template>
  <!-- #endregion -->

</ng-template>