<app-header></app-header>

<div *ngIf='loading else show'>
    <mat-spinner class="spinner"></mat-spinner>
</div>

<ng-template #show>

    <div class="user-info">
        <br>
        <h1 id="info-form-title">Please fill the details</h1>
        <hr>
        <br>
        <div class="info-form">
            <form [formGroup]="userData" (ngSubmit)="submit()" ngNativeValidate>

                <label for="birthday"> Date of Birth* </label>
                <br>
                <input type="date" name="birthday" value="dd-mm-yyyy" formControlName="birthDate"
                    [min]="minDate| date:'yyyy-MM-dd'" [max]="maxBirthDate| date:'yyyy-MM-dd'" required>
                <br>
                <br>

                <label for="hireDate"> Hire Date* </label>
                <br>
                <input type="date" name="hireDate" value="dd-mm-yyyy" formControlName="hireDate"
                    [min]="minDate| date:'yyyy-MM-dd'" [max]="maxHireDate| date:'yyyy-MM-dd'" required>
                <br>
                <br>

                <label for="teams">Choose a team to join*:</label> <br>
                <select name="teams" id="teams" formControlName="teamID" required>
                    <option selected="true" disabled='true'>Select Team</option>
                    <option *ngFor="let team of teams" [ngValue]="team.teamID" [disabled]='team.teamID==currentTeamID'>
                        {{team.teamname}}
                    </option>
                </select>
                <br>
                <br>

                <label for="gender"> Gender </label>
                <br>
                <span class="gender"><input type="radio" name="gender" formControlName="gender" value="Male"> Male
                    &nbsp;</span>
                <span class="gender"><input type="radio" name="gender" formControlName="gender" value="Female"> Female
                    &nbsp;</span>
                <span class="gender"><input type="radio" name="gender" formControlName="gender" value="Other"> Other
                    &nbsp;</span>
                <br>
                <br>

                <label for="address"> Address </label>
                <br>
                <textarea placeholder="Type your address here" formControlName="address" name="address" rows="8"
                    cols="40"></textarea>
                <br>
                <br>

                <label> Phone Number (+91) </label>
                <br>
                <input type="tel" placeholder="e.g. 9876543210" formControlName="contact" name="phone" minlength="10"
                    pattern="^[0-9]{10}$" />
                <br><br>

                <button color="primary" type="submit">Submit</button>
                <br>
            </form>
        </div>
    </div>
</ng-template>