<mat-card class="event-card">
    <mat-card-title-group>
        <mat-card-title>
            <p>{{notification.username}}</p>
        </mat-card-title>
        <mat-card-subtitle>
            <p>( {{notification.first_name}} {{notification.last_name}} )</p>
        </mat-card-subtitle>

        <div *ngIf='notification.status!=null else sendWish'>
            <button class="mat-btn" disabled>
                <mat-icon>mail_outline</mat-icon> Sent
            </button>
        </div>
        <ng-template #sendWish>
            <button class="mat-btn" (click)='openDialog()'>
                <mat-icon>mail_outline</mat-icon> Wish
            </button>
        </ng-template>
    </mat-card-title-group>

    <mat-card-content>
        <p class="card-subtitle">
            <mat-icon>cake</mat-icon>
            <span *ngIf='birthday else showOther'> {{notification.birth_date | date}}</span>
            <ng-template #showOther> {{notification.hire_date |date}}</ng-template>
        </p>
    </mat-card-content>

</mat-card>