<div *ngIf="loading; else showDetails" class="spinner">
  <mat-spinner></mat-spinner>
</div>

<ng-template #showDetails>
  <div *ngIf="teamList.length == 0; else showTeamMembers">
    <h1 class="no-teams-message">No Teams to Show</h1>
  </div>
  <ng-template #showTeamMembers>
    <br />
    <p id="team-data-title">All Teams Details</p>
    <hr />
    <!-- #region Iterating over team list -->
    <div *ngFor="let team of teamList" class="teams">
      <mat-accordion>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <!-- #region Panel Header -->
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>group</mat-icon>&nbsp;&nbsp;
              <span class="panel-title">{{ team.teamname }} Team</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <!-- #endregion -->
          <hr />
          <!-- // checking if teams has members or not by checking for teamID key -->
          <ng-container
            *ngIf="teams?.hasOwnProperty(team.teamID); else noMembers"
          >
            <!-- #region Team Members Display -->
            <div class="table-container">
              <table>
                <thead>
                  <th>Team Member</th>
                  <th>Email</th>
                  <th>Remove from team</th>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let member of getMembers(team.teamID)"
                    class="team-members"
                  >
                    <td>{{ member.firstName }} {{ member.lastName }}</td>
                    <td>{{ member.email }}</td>
                    <td>
                      <mat-icon
                        class="remove-btn"
                        (click)="
                          member.userID == currentUser
                            ? null
                            : removeFromTeam(member.userID)
                        "
                        [classList]="
                          member.userID == currentUser
                            ? 'disabledBtn'
                            : 'enabledBtn'
                        "
                      >
                        delete</mat-icon
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- #endregion -->
          </ng-container>

          <ng-template #noMembers>
            <p id="no-member-message">No Members in Team</p>
          </ng-template>
          <button (click)="deleteTeam(team.teamID)">Delete</button>
        </mat-expansion-panel>
      </mat-accordion>
      <br />
    </div>
    <!-- #endregion -->
  </ng-template>
</ng-template>
