ul {
  list-style: none;
  background-color: rgb(250, 170, 170);
  font-size: 20px;
  padding: 0.2em 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

::ng-deep .mat-menu-panel {
  width: 12em;
}

::ng-deep .mat-menu-content {
  padding: 0 !important;
}

.profile-name {
  padding: 0.5em;
  font-size: 15px;
  text-align: center;
  background-color: rgb(248, 192, 183);
}

.mat-menu-trigger {
  background-color: inherit;
  border: none;
}

.mat-icon {
  font-size: 30px;
}

.mat-menu-item .mat-icon {
  font-size: 30px;
  vertical-align: text-bottom;
}

.mat-icon:hover {
  cursor: pointer;
  color: rgb(233, 90, 121);
}
