ul {
  list-style: none;
  background-color: rgb(250, 170, 170);
  overflow: hidden;
  font-size: 20px;
  padding: 0.5em 0 0 0;
}

li {
  float: right;
}

.mat-menu-trigger {
  background-color: inherit;
  border: none;
}

.mat-menu-item .mat-icon {
  font-size: 30px;
  vertical-align: text-bottom;
}

.mat-icon {
  font-size: 30px;
}

.mat-icon:hover {
  cursor: pointer;
  color: rgb(233, 90, 121);
}
