<mat-tab-group [(selectedIndex)]="index" class="header-less-tabs" animationDuration="0ms" name="index">
  <!-- #region tab components -->
  <mat-tab>
    <ng-template matTabContent>
      <app-event-notification [index]="index" (eventsLength)="emitEventLengthsToSideNav($event)">
      </app-event-notification>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template matTabContent>
      <app-event-notification [index]="index" (eventsLength)="emitEventLengthsToSideNav($event)">
      </app-event-notification>
    </ng-template>
  </mat-tab>
  <mat-tab class="team-details-tab">
    <ng-template matTabContent>
      <app-team-details [teamDetails]="teamDetail"></app-team-details>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template matTabContent>
      <app-requests-notification [requests]="userRequests" [adminRequest]="false">
      </app-requests-notification>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template matTabContent>
      <app-requests-notification [requests]="adminRequests" [adminRequest]="true"
        (adminRequestsLength)="emitAdminRequestsLengthToSideNav($event)">
      </app-requests-notification>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template matTabContent>
      <app-add-team></app-add-team>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template matTabContent>
      <app-update-team-members></app-update-team-members>
    </ng-template>
  </mat-tab>
  <!-- #endregion -->
</mat-tab-group>