* {
  margin: 0;
}

html,
body {
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

/* ==== Progress Spinner Styles==== */

.spinner {
  width: fit-content;
  margin: auto;
}

.spinner .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: crimson;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: crimson;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-thumb {
  background-color: crimson;
  border-radius: 10px;
}

/* ==== Login/Signup Form Styles ==== */

.auth-form {
  padding: 1em;
}

.auth-form input {
  height: 30px;
  font-size: 15px;
  width: 60%;
}

.auth-form button {
  font-size: 16px;
  padding: 3px;
}

.auth-form button:disabled {
  cursor: not-allowed;
}

.auth-form button:enabled:hover {
  cursor: pointer;
  background-color: rgb(252, 180, 204);
  border: none;
}
