* {
  margin: 0;
}

html,
body {
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

hr {
  background-color: black;
  border: 0.5px solid black;
}

/* ==== Progress Spinner Styles==== */

.spinner {
  width: fit-content;
  margin: auto;
}

.spinner .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: rgb(250, 202, 185);
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: rgb(250, 202, 185);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(250, 202, 185);
  border-radius: 10px;
}

/* ==== Mat Icon Styles ==== */

::ng-deep mat-icon {
  vertical-align: sub;
}

/* ==== Login/Signup Form Styles ==== */

.mat-ink-bar {
  background-color: rgb(248, 153, 169) !important;
}

.auth-form {
  padding: 1em;
}

.auth-form input {
  height: 30px;
  font-size: 15px;
  width: 60%;
}

.auth-form mat-icon {
  position: relative;
  right: 8%;
  margin: 2px;
  vertical-align: middle;
}

.auth-form mat-icon:hover {
  cursor: pointer;
  opacity: 0.6;
}

.auth-form .submit-btn {
  font-size: 16px;
  padding: 3px;
}

.auth-form .submit-btn:disabled {
  cursor: not-allowed;
}

.auth-form .submit-btn:enabled:hover {
  cursor: pointer;
  background-color: rgb(252, 180, 204);
  border: none;
}
